html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}

.row {
    height: 100vh;
    background-color: rgb(200, 200, 200);
}
